/* refactor to flex */
.scrubber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}

.scrubberFrames-container {
  width: 100%;
}

.scrubberSlider-container {
  width: 100%; /* Width of the outside container */
  margin-top: 8px;
}

.scrubberSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;  
  background: #98caff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.scrubberSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #1586ff;;
  background: #ffffff;
  cursor: pointer;  
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.scrubberSlider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #1586ff;;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}